Chameleon==4.5.4
grok==5.1
grokcore.annotation==4.0
grokcore.catalog==4.0
grokcore.chameleon==4.0
grokcore.component==4.1
grokcore.content==4.1
grokcore.error==4.0
grokcore.formlib==4.0
grokcore.layout==4.0
grokcore.message==4.0
grokcore.security==4.0
grokcore.site==4.0
grokcore.startup==4.1
grokcore.traverser==4.0
grokcore.view==4.0
grokcore.viewlet==4.0
grokui.base==0.8.2
ipython==8.29.0
martian==2.0.post1
z3c.evalexception==4.0
z3c.flashmessage==3.0
z3c.pt==4.4
z3c.recipe.i18n==2.1
zc.catalog==3.0
zope.app.appsetup==5.0
zope.app.debug==4.0.0
zope.app.publication==5.0
zope.app.wsgi==5.2.1
zope.errorview==2.0
zope.generations==5.1.0
zope.testbrowser==7.0
appnope==0.1.4
beautifulsoup4==4.12.3
collective.recipe.omelette==1.1.0
collective.recipe.template==2.2
decorator==5.1.1
gnureadline==8.2.13
ipython-genutils==0.2.0
legacy-cgi==2.6.1
mock==5.1.0
Paste==3.10.1
pexpect==4.9.0
pickleshare==0.7.5
ptyprocess==0.7.0
requests-toolbelt==1.0.0
shutilwhich==1.1.0
simplegeneric==0.8.1
soupsieve==2.6
tqdm==4.67.1
traitlets==5.14.3
waitress==3.0.2
WebOb==1.8.9
WebTest==3.0.1
WSGIProxy2==0.5.1
z3c.autoinclude==1.0
zc.recipe.egg==2.0.7
zdaemon==5.1
