*.bak
*.pyc
*.pyo
*.swp
.cache/
.coverage*
.installed.cfg
.mr.developer.cfg
bin/
dev/*
develop-eggs
develop/*
docs/Makefile
docs/_build
docs/doctrees
docs/html
docs/latex
docs/make.bat
eggs/
htmlcov/
include/
lib/
parts/
pip-selfcheck.json
pyvenv.cfg
src/*.egg-info
share/
