[buildout]
parts = test-grok depgraph
extensions = mr.developer
extends = grok.cfg
versions = versions
allow-picked-versions = false
#auto-checkout = *

[versions]
infrae.subversion = 1.4.5
tl.eggdeps = 0.4
z3c.recipe.compattest = 0.9
z3c.recipe.depgraph = 0.5
mr.developer = 1.9

[test-grok]
recipe = z3c.recipe.compattest
include = ${grok:packages}

[depgraph]
recipe = z3c.recipe.depgraph
eggs = ${grok:packages}
extras = True
variants = base 
           scc
