[buildout]
extends =
  ztk-versions.cfg
extensions = mr.developer
sources = sources
github = https://github.com/zopefoundation
github_push = git@github.com:zopefoundation
auto-checkout =

[grok]
packages =
   grok
   grokcore.annotation
   grokcore.catalog
   grokcore.chameleon
   grokcore.component
   grokcore.content
   grokcore.error
   grokcore.formlib
   grokcore.json
   grokcore.layout
   grokcore.message
   grokcore.security
   grokcore.site
   grokcore.startup
   grokcore.traverser
   grokcore.view
   grokcore.viewlet
   grokcore.xmlrpc
   martian
   z3c.evalexception
   z3c.flashmessage
   zc.catalog
   zope.errorview
   zope.fanstatic

[versions]
Chameleon = 4.4.1
fanstatic = 1.3
grok = 4.0
grokcore.annotation = 4.0
grokcore.catalog = 4.0
grokcore.chameleon = 4.0
grokcore.component = 4.1
grokcore.content = 4.1
grokcore.error = 4.0
grokcore.formlib = 4.0
grokcore.json = 4.1
grokcore.layout = 4.0
grokcore.message = 4.0
grokcore.security = 4.0
grokcore.site = 4.0
grokcore.startup = 4.0
grokcore.traverser = 4.0
grokcore.view = 4.0
grokcore.viewlet = 4.0
grokcore.xmlrpc = 4.1
grokui.admin = 1.0
grokui.base = 0.8.2
ipython = 8.15.0
martian = 2.0.post1
z3c.evalexception = 4.0
z3c.flashmessage = 3.0
z3c.pt = 4.0
z3c.recipe.i18n = 2.0
zc.catalog = 3.0
zope.app.appsetup = 5.0
zope.app.debug = 4.0.0
zope.app.publication = 5.0
zope.app.wsgi = 5.0
zope.errorview = 2.0
zope.fanstatic = 3.0.0
zope.generations = 5.1.0
zope.testbrowser = 6.0
# Tools and dependencies
appnope = 0.1.3
beautifulsoup4=4.12.2
collective.recipe.omelette = 1.1.0
collective.recipe.template = 2.2
decorator = 5.1.1
gnureadline = 8.1.2
grokcore.rest = 4.1
ipython-genutils = 0.2.0
Paste = 3.5.3
pexpect = 4.8.0
pickleshare = 0.7.5
pkginfo = 1.9.6
ptyprocess = 0.7.0
requests-toolbelt = 1.0.0
shutilwhich = 1.1.0
simplegeneric = 0.8.1
soupsieve = 2.5
tqdm = 4.66.1
traitlets = 5.9.0
twine = 4.0.2
waitress = 2.1.2
WebOb = 1.8.7
WebTest = 3.0.0
WSGIProxy2 = 0.5.1
z3c.autoinclude = 1.0
zdaemon = 5.0
zest.releaser = 9.0.0

[versions:python37]
# newer Chameleon versions are either yanked or require Python 3.8+
Chameleon = 4.2.0
importlib-metadata = 7.0.0
importlib-resources = 5.12.0
# Newer versions require Python 3.8+
typing-extensions = 4.7.1
zipp = 3.15.0

[versions:python38]
importlib-metadata = 7.0.0
importlib-resources = 6.1.1
zipp = 3.17.0

[versions:python39]
importlib-metadata = 7.0.0
zipp = 3.17.0

[sources]
# While working on the python 3 branches, make use of this sources list.
grok = git ${buildout:github}/grok pushurl=${buildout:github_push}/grok
grokcore.annotation = git ${buildout:github}/grokcore.annotation pushurl=${buildout:github_push}/grokcore.annotation
grokcore.catalog = git ${buildout:github}/grokcore.catalog pushurl=${buildout:github_push}/grokcore.catalog
grokcore.chameleon = git ${buildout:github}/grokcore.chameleon pushurl=${buildout:github_push}/grokcore.chameleon
grokcore.component = git ${buildout:github}/grokcore.component pushurl=${buildout:github_push}/grokcore.component
grokcore.content = git ${buildout:github}/grokcore.content pushurl=${buildout:github_push}/grokcore.content
grokcore.error = git ${buildout:github}/grokcore.error pushurl=${buildout:github_push}/grokcore.error
grokcore.formlib = git ${buildout:github}/grokcore.formlib pushurl=${buildout:github_push}/grokcore.formlib
grokcore.json = git ${buildout:github}/grokcore.json pushurl=${buildout:github_push}/grokcore.json
grokcore.layout = git ${buildout:github}/grokcore.layout pushurl=${buildout:github_push}/grokcore.layout
grokcore.message = git ${buildout:github}/grokcore.message pushurl=${buildout:github_push}/grokcore.message
grokcore.security = git ${buildout:github}/grokcore.security pushurl=${buildout:github_push}/grokcore.security
grokcore.site = git ${buildout:github}/grokcore.site pushurl=${buildout:github_push}/grokcore.site
grokcore.startup = git ${buildout:github}/grokcore.startup pushurl=${buildout:github_push}/grokcore.startup
grokcore.traverser = git ${buildout:github}/grokcore.traverser pushurl=${buildout:github_push}/grokcore.traverser
grokcore.view = git ${buildout:github}/grokcore.view pushurl=${buildout:github_push}/grokcore.view
grokcore.viewlet = git ${buildout:github}/grokcore.viewlet pushurl=${buildout:github_push}/grokcore.viewlet
grokcore.xmlrpc = git ${buildout:github}/grokcore.xmlrpc pushurl=${buildout:github_push}/grokcore.xmlrpc
martian = git ${buildout:github}/martian pushurl=${buildout:github_push}/martian
z3c.evalexception = git ${buildout:github}/z3c.evalexception pushurl=${buildout:github_push}/z3c.evalexception
z3c.flashmessage  = git ${buildout:github}/z3c.flashmessage pushurl=${buildout:github_push}/z3c.flashmessage
z3c.recipe.i18n = git ${buildout:github}/z3c.recipe.i18n pushurl=${buildout:github_push}/z3c.recipe.i18n
zope.app.debug = git ${buildout:github}/zope.app.debug pushurl=${buildout:github_push}/zope.app.debug
zope.app.wsgi = git ${buildout:github}/zope.app.wsgi pushurl=${buildout:github_push}/zope.app.wsgi
zope.errorview = git ${buildout:github}/zope.errorview pushurl=${buildout:github_push}/zope.errorview
zope.fanstatic = git ${buildout:github}/zope.fanstatic pushurl=${buildout:github_push}/zope.fanstatic
zope.testbrowser = git git://github.com/zopefoundation/zope.testbrowser
