[grok-ecosystem]
included =
   dolmen.blob
   dolmen.builtins
   dolmen.content
   dolmen.field
   dolmen.file
   dolmen.forms.base
   dolmen.forms.crud
   dolmen.relations
   dolmen.storage
   dolmen.thumbnailer
   dolmen.widget.file
   dolmen.widget.image
   hurry.custom
   hurry.extjs
   hurry.file
   hurry.filesize
   hurry.jquery
   hurry.jqueryui
#   hurry.js.wforms doesn't exist
   hurry.query
   hurry.resource
   hurry.slimbox
   hurry.tinymce
   hurry.workflow
   hurry.yui
   hurry.zoperesource
   hurry.zopetinymce
#   ldapauth doesn't exist
#   ldappas depends on python-ldap
   lxml
   megrok.chameleon
#   megrok.cheetah doesn't exist
   megrok.genshi
   megrok.jinja
   megrok.layout
   megrok.login
   megrok.menu
   megrok.pagetemplate
   megrok.rdb
   megrok.resource
   megrok.resourcelibrary
   megrok.resourceviewlet
   megrok.strictrequire
   megrok.traject
   megrok.z3cform.base
   megrok.z3cform.composed
   megrok.z3cform.layout
   megrok.z3cform.tabular
   megrok.z3cform.ui
   megrok.z3ctable
   traject
   xlrd
   xlwt
   z3c.batching
   z3c.blobfile
   z3c.coverage
   z3c.form
   z3c.formui
   z3c.hashedresource
   z3c.noop
   z3c.relationfield
   z3c.relationfieldui
   z3c.saconfig
   z3c.schema
   z3c.schema2xml
   z3c.table
#   z3c.vcsync needs py == 0.9.1
   zc.sourcefactory
   zc.table

packages =
   ${grok-ecosystem:included}

[buildout]
versions = versions

[versions]
dolmen.blob = 0.4.1
dolmen.builtins = 0.2
dolmen.content = 0.3
dolmen.field = 0.3
dolmen.file = 0.4.0
dolmen.forms.base = 0.1
dolmen.forms.crud = 0.3
dolmen.relations = 0.2
dolmen.storage = 0.2
dolmen.thumbnailer = 0.2.1
dolmen.widget.file = 0.1
dolmen.widget.image = 0.1
hurry.custom = 0.6.2
hurry.extjs = 2.2.1
hurry.file = 1.2
hurry.filesize = 0.9
hurry.jquery = 1.3.2.1
hurry.jqueryui = 1.7.2.1
hurry.query = 1.0.0
hurry.resource = 0.4.1
hurry.slimbox = 2.03
hurry.tinymce = 3.2.3.1
hurry.workflow = 0.10
hurry.yui = 2.7.0
hurry.zoperesource = 0.4
hurry.zopetinymce = 0.1
megrok.chameleon = 0.2
megrok.genshi = 1.0
megrok.jinja = 0.1
megrok.layout = 0.9
megrok.login = 0.2
megrok.menu = 0.3
megrok.pagetemplate = 0.3
megrok.rdb = 0.10
megrok.resource = 0.4.1
megrok.resourcelibrary = 0.9.2
megrok.resourceviewlet = 0.1
megrok.strictrequire = 0.2
megrok.traject = 0.10.1
megrok.z3cform.base = 0.3
megrok.z3cform.composed = 0.1
megrok.z3cform.layout = 0.2.1
megrok.z3cform.tabular = 0.2
megrok.z3cform.ui = 0.5
megrok.z3ctable = 1.4.0
xlrd = 0.7.1
xlwt = 0.7.2
z3c.batching = 1.1.0
z3c.blobfile = 0.1.4
z3c.coverage = 1.1.3
z3c.form = 2.3.2
z3c.formui = 2.2.0
z3c.hashedresource = 1.1.2
z3c.noop = 1.0
z3c.relationfield = 0.6.1
z3c.relationfieldui = 0.5
z3c.saconfig = 0.10
z3c.schema = 0.6.0
z3c.schema2xml = 1.0
z3c.table = 0.8.0
zc.table = 0.8.0

Chameleon = 1.1.1
PILwoTk = 1.1.6.4
PyYAML = 3.09
pyyaml = 3.09
SQLAlchemy = 0.5.8
chameleon.core = 1.0.4
z3c.ptcompat = 0.5.5
z3c.testing = 0.3.1
zc.relation = 1.0

#Required by:
#megrok.genshi 1.0
Genshi = 0.5.1

#Required by:
#megrok.chameleon 0.2
chameleon.genshi = 1.0b4
chameleon.zpt = 1.1.3
z3c.pt = 1.1.0

#Required by:
#hurry.custom 0.6.2
jsontemplate = 0.5b2

#Required by:
#megrok.traject 0.10.1
traject = 0.10.1

#Required by:
#z3c.formui 2.2.0
z3c.macro = 1.2.1
z3c.template = 1.2.1

#Required by:
#z3c.relationfield 0.6.1
z3c.objpath = 1.0

#Required by:
#megrok.z3cform.tabular 0.2
z3c.tabular = 0.5.2

#Required by:
#megrok.rdb 0.10
zope.sqlalchemy = 0.4

[sources]
dolmen.blob                    = git git://devel.dolmen-project.org/dolmen.blob.git
dolmen.builtins                = git git://devel.dolmen-project.org/dolmen.builtins.git
dolmen.content                 = git git://devel.dolmen-project.org/dolmen.content.git
dolmen.field                   = git git://devel.dolmen-project.org/dolmen.field.git
dolmen.file                    = git git://devel.dolmen-project.org/dolmen.file.git
dolmen.forms.base              = git git://devel.dolmen-project.org/dolmen.forms.base.git
dolmen.forms.crud              = git git://devel.dolmen-project.org/dolmen.forms.crud.git
#dolmen.menu                    = git git://devel.dolmen-project.org/dolmen.menu.git
#dolmen.queue                   = git git://devel.dolmen-project.org/dolmen.queue.git
dolmen.relations               = git git://devel.dolmen-project.org/dolmen.relations.git
dolmen.storage                 = git git://devel.dolmen-project.org/dolmen.storage.git
dolmen.thumnailer              = git git://devel.dolmen-project.org/dolmen.thumbnailer.git
dolmen.widget.file             = git git://devel.dolmen-project.org/dolmen.widget.file.git
dolmen.widget.image            = git git://devel.dolmen-project.org/dolmen.widget.image.git
#dolmen.widget.tinymce          = git git://devel.dolmen-project.org/dolmen.widget.tinymce.git
