[grok-ecosystem]
included =
   dolmen.blob
   dolmen.builtins
   dolmen.content
   dolmen.field
   dolmen.file
   dolmen.forms.base
   dolmen.forms.crud
   dolmen.relations
   dolmen.storage
   dolmen.thumbnailer
   dolmen.widget.file
   dolmen.widget.image
   hurry.custom
   hurry.extjs
   hurry.file
   hurry.filesize
   hurry.jquery
   hurry.jqueryui
   hurry.js.wforms
   hurry.query
   hurry.slimbox
   hurry.resource
   hurry.tinymce
   hurry.workflow
   hurry.yui
   hurry.zoperesource
   hurry.zopetinymce
   ldapauth
   ldappas
   lxml
   megrok.chameleon
   megrok.cheetah
   megrok.genshi
   megrok.jinja
   megrok.layout
   megrok.login
   megrok.menu
   megrok.pagetemplate
   megrok.rdb
   megrok.resource
   megrok.resourcelibrary
   megrok.resourceviewlet
   megrok.strictrequire
   megrok.traject
   megrok.z3cform.base
   megrok.z3cform.composed
   megrok.z3cform.layout
   megrok.z3cform.tabular
   megrok.z3cform.ui
   megrok.z3ctable
   traject
   xlrd
   xlwt
   z3c.batching
   z3c.blobfile
   z3c.form
   z3c.hashedresource
   z3c.noop
   z3c.relationfield
   z3c.relationfieldui
   z3c.saconfig
   z3c.schema
   z3c.schema2xml
   z3c.table
   z3c.vcsync
   zc.sourcefactory
   zc.table

packages =
   ${grok-ecosystem:included}

[buildout]
extends = grok.cfg

[versions]
# mr.developer 1.9 has an issue with git repositories
mr.developer = 1.7

dolmen.blob = 0.4.1
dolmen.builtins = 0.2
dolmen.content = 0.2.2
dolmen.field = 0.3
dolmen.file = 0.4.0
dolmen.forms.base = 0.1
dolmen.forms.crud = 0.3
dolmen.relations = 0.2
dolmen.storage = 0.2
dolmen.thumbnailer = 0.2.1
dolmen.widget.file = 0.1
dolmen.widget.image = 0.1

[sources]
dolmen.blob                    = git git://devel.dolmen-project.org/dolmen.blob.git
dolmen.builtins                = git git://devel.dolmen-project.org/dolmen.builtins.git
dolmen.content                 = git git://devel.dolmen-project.org/dolmen.content.git
dolmen.field                   = git git://devel.dolmen-project.org/dolmen.field.git
dolmen.file                    = git git://devel.dolmen-project.org/dolmen.file.git
dolmen.forms.base              = git git://devel.dolmen-project.org/dolmen.forms.base.git
dolmen.forms.crud              = git git://devel.dolmen-project.org/dolmen.forms.crud.git
#dolmen.menu                    = git git://devel.dolmen-project.org/dolmen.menu.git
#dolmen.queue                   = git git://devel.dolmen-project.org/dolmen.queue.git
dolmen.relations               = git git://devel.dolmen-project.org/dolmen.relations.git
dolmen.storage                 = git git://devel.dolmen-project.org/dolmen.storage.git
dolmen.thumnailer              = git git://devel.dolmen-project.org/dolmen.thumbnailer.git
dolmen.widget.file             = git git://devel.dolmen-project.org/dolmen.widget.file.git
dolmen.widget.image            = git git://devel.dolmen-project.org/dolmen.widget.image.git
#dolmen.widget.tinymce          = git git://devel.dolmen-project.org/dolmen.widget.tinymce.git
