include *.md
include *.txt
include *.yaml
include buildout.cfg
include documentation.cfg
include grok.cfg
include grok-sources.cfg
include grok-versions.cfg
include tox.ini
recursive-include docs *.bat
recursive-include docs *.cfg
recursive-include docs *.css
recursive-include docs *.gif
recursive-include docs *.html
recursive-include docs *.in
recursive-include docs *.jpg
recursive-include docs *.png
recursive-include docs *.pt
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.template
recursive-include docs *.tex
recursive-include docs *.txt
recursive-include docs *.zcml
recursive-include docs Makefile
